# Виртуальное окружение
.venv/
venv/
env/

# Кэш Python
__pycache__/
*.py[cod]

# Pytest и flake8
.pytest_cache/
.coverage
htmlcov/

# Переменные окружения
.env

# Настройки IDE
.idea/
.vscode/

# Системные файлы
.DS_Store
Thumbs.db
